<!DOCTYPE html>
<html>
<head>
  <link rel = "icon" href = "https://img.icons8.com/officel/100/000000/blog.png" 
        type = "image/x-icon"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/dark-mode.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="google-site-verification" content="F9dCcjPZ9_2lxltlgL9pxQY7FDrWn4cX3QCrPJmMUGc" /> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Real Time Blog App</a>
   <button class="nav-link" onclick="toggle_light_mode()">
        <span id="mode"></span>
</button>
  <button class="navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><a href="#" class="hamb"><i class="fa fa-bars fa-lg ham"></i></a></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Website</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if(!currentUser){ %>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
       <%  } else { %>
         <li class="dropdown nav-item">
                          <a href="#" class="dropdown-toggle nav-link" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge"><%= notifications.length %></span></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/blogs/notifications" class="dropdown-item">View past notifications</a>
                            <% notifications.forEach(function(notification) { %>                          
                                    <a href="/blogs/notifications/<%= notification.id %>" class="dropdown-item">
                                        <%= notification.username %> created a new campground
                                    </a>
                            <% }); %>
                          </div>
                        </li>
        <li class="nav-item">
          <a class="nav-link navbar-right" href="/"><%= currentUser.username %></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
       <% } %>
    </ul>
  </div>
</nav>
<br>
 <% if(success && success.length > 0 ){ %>
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show shadow-lg" role="alert">
        <%= success %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
    <% } %>
 <% if(error && error.length > 0 ){ %>
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show shadow-lg" role="alert">
        <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
    <% } %>
