 <%- include("partials/header") %> 
<div class="constainer page">
<div class="jumbotron shadow">
<h1><%= user.username %>'s profile</h1>
<hr>
<a href="/blogs/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
</div>
</div>
<%- include("partials/footer") %>